<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
>
<head>
<meta charset="UTF-8">
<title>登录</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container" style="text-align:center;margin-top:50px;">
	   <div class="row col-md-6 col-md-offset-3">
	   <div th:text="${message}"></div>
	       <div class="panel panel-default">
			    <div class="panel-heading" th:text="${title}">登录页面</div>
			    <div class="panel-body">
			     	<form id="registerForm"  th:action="@{/login}" th:object="${user}" method="post">
			     		<div class="input-group">
				            <span class="input-group-addon">username</span>
				            <!-- <input 	id="username" type="text" name="username" class="form-control" placeholder="用户名"> -->
				            <input id="username" type="text" th:field="*{username}" class="form-control" placeholder="用户名" >
				        </div>
				        <div><span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color:red;"></span></div>
				        <br>
				        <div class="input-group">
				            <span class="input-group-addon">password</span>
				            <!-- <input id="password" type="password" name="password" class="form-control" placeholder="密码"> -->
				            <!-- <input id="password" type="password" th:field="*{password}" class="form-control" placeholder="密码" >-->
				            <input id="password" type="password" name="password" class="form-control" placeholder="密码" >
				        </div>
				        <div><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red;"></span></div>
				       
				        <br>
				        <div class="input-group">
							<span class="input-group-addon">验证码</span>
							<input type="text" id="code" name="code" class="form-control" style="width:250px;"/>  
							<img id="imgObj" alt="验证码" src="/validateCode" class="img-responsive" onclick="changeImg()"/>  
						</div>
				        
				        <br>
						<button type="submit" class="btn btn-primary register-btn">登录</button>
						<button type="reset" class="btn btn-warning">重置</button>
					</form>
			    </div>
			</div>
	   </div>
	</div>
<script th:src="@{/js/jquery-3.1.1.js}"></script>	
<script th:src="@{/js/jquery.validate.min.js}"></script>	
<script th:src="@{/js/additional-methods.min.js}"></script>	
<script th:src="@{/js/messages_zh.min.js}"></script>
<script th:src="@{/js/jquery.md5.js}"></script>
<script type="text/javascript">
$("#registerForm").validate({
	rules: {
		username: "required",
		password: {
	      required: true
	    }
	  }
});

//刷新图片  
function changeImg() {  
    var imgSrc = $("#imgObj");  
    var src = imgSrc.attr("src");  
    imgSrc.attr("src", changeUrl(src));  
}  
//为了使每次生成图片不一致，即不让浏览器读缓存，所以需要加上时间戳  
function changeUrl(url) {  
    var timestamp = (new Date()).valueOf();  
    var index = url.indexOf("?",url);  
    if (index > 0) {  
        url = url.substring(index, url.indexOf(url, "?"));  
    }  
    if ((url.indexOf("&") >= 0)) {  
        url = url + "×tamp=" + timestamp;  
    } else {  
        url = url + "?timestamp=" + timestamp;  
    }  
    return url;  
}


</script>		
</body>
</html>